.generator
  &__title
    color: $black
    font-weight: 700
    font-size: 1.4em
    text-align: center

  &__subline
    font-size: 1em
    font-weight: 300
    color: lighten($black, 15%)
    text-align: center
    font-style: italic
  &__step-one
    &--active
      text-decoration: underline
  &__priorities
    &-table
      width: 98%
      margin: auto

    &-header
      font-weight: 300
      color: lighten($black, 25%)
